body {
    background-color: blue;

}
div {
    border: solid black 5px;
}
#container {
    background-color: rgba(0, 255, 0, 80);
    width: 80%;
    margin: auto;
}
#header {
    background-color: gray;
}
#menu {
    background-color: white;
}
#body {
    background-color: pink;
}
#footer {
    background-color: orange;
}